<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eclipsesource.tabris.con" version="1.0.2" android-versionCode="6" ios-CFBundleVersion="1.0.2" xmlns="http://www.w3.org/ns/widgets">
    <name>EclipseCon 2016</name>
    <author email="tabris@eclipsesource.com" href="https://tabrisjs.com">
        EclipseSource
    </author>

    <access origin="*" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-network-information" />

    <platform name="android">
        <icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="resources/ios/icons/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="resources/ios/icons/icon-60.png" width="60" height="60" />
        <icon src="resources/ios/icons/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="resources/ios/icons/icon-76.png" width="76" height="76" />
        <icon src="resources/ios/icons/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="resources/ios/icons/icon-40.png" width="40" height="40" />
        <icon src="resources/ios/icons/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="resources/ios/icons/icon.png" width="57" height="57" />
        <icon src="resources/ios/icons/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="resources/ios/icons/icon-72.png" width="72" height="72" />
        <icon src="resources/ios/icons/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="resources/ios/icons/icon-small.png" width="29" height="29" />
        <icon src="resources/ios/icons/icon-small@2x.png" width="58" height="58" />
        <icon src="resources/ios/icons/icon-small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="resources/ios/icons/icon-50.png" width="50" height="50" />
        <icon src="resources/ios/icons/icon-50@2x.png" width="100" height="100" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="resources/ios/screen/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="resources/ios/screen/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="resources/ios/screen/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="resources/ios/screen/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="resources/ios/screen/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="resources/ios/screen/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="resources/ios/screen/Default-667h.png" width="750" height="1334"/>
        <splash src="resources/ios/screen/Default-736h.png" width="1242" height="2208"/>
        <splash src="resources/ios/screen/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>
</widget>
